@model SklepL2.Models.Invoice

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateIssue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateIssue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Invoice_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
